.grid{
	display: grid;
	grid-template-areas: 
		"head head head"
		"genre platform story"
		"aesthetics gameplay about"
		"screenshots screenshots screenshots";
}

#head{
	grid-area: head;
	text-align: center;
	background-color: #FFFFFF;
	margin: 0.5rem;
	padding: 1rem;
}

#genre{
	grid-area: genre;
	background-color: #FFFFFF;
	margin: 0.5rem;
	padding: 1rem;
}

#platform{
	grid-area: platform;
	background-color: #FFFFFF;
	margin: 0.5rem;
	padding: 1rem;
}

#story{
	grid-area: story;
	background-color: #FFFFFF;
	margin: 0.5rem;
	padding: 1rem;
}

#aesthetics{
	grid-area: aesthetics;
	background-color: #FFFFFF;
	margin: 0.5rem;
	padding: 1rem;
}

#gameplay{
	grid-area: gameplay;
	background-color: #FFFFFF;
	margin: 0.5rem;
	padding: 1rem;
}

#about{
	grid-area: about;
	background-color: #FFFFFF;
	margin: 0.5rem;
	padding: 1rem;
}

#screenshots{
	grid-area: screenshots;
	background-color: #FFFFFF;
	margin: 0.5rem;
	padding: 1rem;
}

.images{
	display: grid;
	grid-template-areas: 
		"image1 image2 image3 image4"
		"image5 image6 image7 image8";
	
}

.images img{
	text-align: center;
	padding: 2rem;
}

#image1{
	grid-area: image1;
}

#image2{
	grid-area: image2;
}

#image3{
	grid-area: image3;
}

#image4{
	grid-area: image4;
}

#image5{
	grid-area: image5;
}

#image6{
	grid-area: image6;
}

#image7{
	grid-area: image7;
}

#image8{
	grid-area: image8;
}

@media only screen and (max-width: 980px){
	.grid{
		grid-template-areas: 
			"head head"
			"genre platform"
			"story aesthetics"
			"gameplay about"
			"screenshots screenshots";
	}
	.images{
		grid-template-areas: 
			"image1 image2"
			"image3 image4"
			"image5 image6"
			"image7 image8";
	}
}

@media only screen and (max-width: 650px){
	.grid{
		grid-template-areas: 
			"head"
			"genre"
			"platform"
			"story"
			"aesthetics"
			"gameplay"
			"about"
			"screenshots";
	}
	.images{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 530px){
	.grid{
		display: flex;
		flex-direction: column;
	}
}